.addTransaction {
  width: 100%;
}

.addTransaction form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTransaction form label {
  width: 90%;
  margin: 1.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addTransaction form span {
  width: 40%;
}

.addTransaction form label input,
.addTransaction form label select {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  padding: 4px;
  width: 60%;
}

.addTransaction form button {
  width: 90%;
  height: 2rem;
  outline: none;
  background: lightgreen;
  border: 2px solid darkgreen;
  cursor: pointer;
}

@media (min-width: 700px) {
  .addTransaction form span {
    font-size: 1.2rem;
  }

  .addTransaction form button {
    font-size: 1.2rem;
    height: 2.6rem;
  }
}

@media (min-width: 1100px) {
  .addTransaction {
    width: 80%;
  }
}
