.balance {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.balance h3:first-of-type {
  font-weight: 500;
  text-transform: uppercase;
}

.balance h3:last-of-type {
  text-align: center;
}

.totals {
  width: 90%;
  align-self: center;
  background: rgb(255, 255, 255);
  height: 60px;
  display: flex;
}

.totals {
  margin-top: 1rem;
}

.totals article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totals article:first-of-type {
  border-right: 2px solid rgb(187, 173, 173);
}

.totals article span {
  margin: 5px;
}

.totals article span:first-of-type {
  text-transform: uppercase;
  font-size: 1.1rem;
}

@media (min-width: 700px) {
  .balance {
    width: 60%;
  }

  .balance h3 {
    font-size: 1.8rem;
  }

  .totals {
    width: 60%;
  }

  .totals article span:first-of-type {
    font-size: 1.6rem;
  }

  .totals article span:last-of-type {
    font-size: 1.4rem;
  }
}
