.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history h2 {
  align-self: flex-start;
}

.history article {
  width: 90%;
  background: white;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.history article {
  width: 90%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 2.4rem;
  padding: 10px;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .history {
    width: 70%;
  }

  .history article {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}
