#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5rem;
}

#root h2 {
  width: 90%;
  border-bottom: 2px solid black;
  margin: 1.2rem 2rem;
  font-weight: 300;
  font-size: 2rem;
}
